* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    margin: 0;
}

.sticker {
    width: 40%;
    height: calc(100% - 280px);
    min-width: 250px;
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    margin: 100px auto;
    border-radius: 10px;
    padding: 15px;
}

.sticker img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.msg {
    padding: 15px;
}

.big-bold {
    font-weight: bold;
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
}

.msg p:last-child {
    color: hsl(220, 15%, 55%);
}

/* .stick-bottom {
    position: sticky;
    bottom: 0;
} */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}